<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Turismo en la tierra media - Grupo 404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/gallery-grid.css">
</head>
<body>
    <header>
        <div class="contenedor">
           	<p><a href="../index.jsp">
			<img src="../assets/img/tolkien-plano.jpg" alt="logo"></a></p>
            <div class="enlaces-contenedor">
                <a href="../index.jsp">Inicio</a>
                <a href="">Acerca de</a>
                <a href="">Soporte</a>
            </div>
           <!--   <a href="´login.jsp">Iniciar sesión</a>     -->           
        </div>
    </header>
    <main> 
        <br><br><br>
        <div class="container gallery-container">

            <h4>Abismo de Helm</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/abismodehelm.jpg">
                            <img src="../assets/img/AbismoDeHelm/abismodehelm.jpg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/abismodehelm2.jpg">
                            <img src="../assets/img/AbismoDeHelm/abismodehelm2.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/abismodehelm3.jpg">
                            <img src="../assets/img/AbismoDeHelm/abismodehelm3.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/abismodehelm4.jpg">
                            <img src="../assets/img/AbismoDeHelm/abismodehelm4.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/minecraft-4985987.jpg">
                            <img src="../assets/img/AbismoDeHelm/minecraft-4985987.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/AbismoDeHelm/images.jpeg">
                            <img src="../assets/img/AbismoDeHelm/images.jpeg">
                        </a>
                    </div>
                </div>
        
            </div>
        
        </div>
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>Bosque Negro</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/ampl_presento-ordenamiento-territorial-bosques-nativos-para-municipio-tolhuin_30710.jpg">
                            <img src="../assets/img/BosqueNegro/ampl_presento-ordenamiento-territorial-bosques-nativos-para-municipio-tolhuin_30710.jpg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/bosquenegro1.jpg">
                            <img src="../assets/img/BosqueNegro/bosquenegro1.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/bosquenegro2.jpg">
                            <img src="../assets/img/BosqueNegro/bosquenegro2.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/canopy-villa-la-angostura-1.jpg">
                            <img src="../assets/img/BosqueNegro/canopy-villa-la-angostura-1.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/ushuaia-canopy.jpg">
                            <img src="../assets/img/BosqueNegro/ushuaia-canopy.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/BosqueNegro/ushuaia-glaciar-martial-el-bosque-42.jpg">
                            <img src="../assets/img/BosqueNegro/ushuaia-glaciar-martial-el-bosque-42.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>Erebor</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Erebor/erebor.jpg">
                            <img src="../assets/img/Erebor/erebor.jpg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="../assets/img/Erebor/erebor1.jpeg">
                            <img src="../assets/img/Erebor/erebor1.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Erebor/LonelyMountain.jpg">
                            <img src="../assets/img/Erebor/LonelyMountain.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>La Comarca</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/5575ac1969bedd063ee1f018.jpeg">
                            <img src="../assets/img/LaComarca/5575ac1969bedd063ee1f018.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/lacomarcaelmolino.jpg">
                            <img src="../assets/img/LaComarca/lacomarcaelmolino.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/Hobbiton-en-Nueva-Zelanda-5.jpg">
                            <img src="../assets/img/LaComarca/Hobbiton-en-Nueva-Zelanda-5.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/fotos-nueva-zelanda-2.jpg.crdownload">
                            <img src="../assets/img/LaComarca/fotos-nueva-zelanda-2.jpg.crdownload">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/Hobbiton-en-Nueva-Zelanda-5.jpg">
                            <img src="../assets/img/LaComarca/Hobbiton-en-Nueva-Zelanda-5.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/LaComarca/set.jpg">
                            <img src="../assets/img/LaComarca/set.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>Lothlorien</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/20-awesome-treehouses-that-will-astound-you-3.jpg">
                            <img src="../assets/img/Lothlorien/20-awesome-treehouses-that-will-astound-you-3.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/Hotel-Huilo-Huilo-chefandhotel-55.jpg">
                            <img src="../assets/img/Lothlorien/Hotel-Huilo-Huilo-chefandhotel-55.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/lothlorien.jpg">
                            <img src="../assets/img/Lothlorien/lothlorien.jpg">
                        </a>
                    </div>
                    
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/lothlorien2.jpeg">
                            <img src="../assets/img/Lothlorien/lothlorien2.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/lothlorienbosque.jpg">
                            <img src="../assets/img/Lothlorien/lothlorienbosque.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/new-zealand-lord-of-the-rings-lothlorien-queenstown.jpg">
                            <img src="../assets/img/Lothlorien/new-zealand-lord-of-the-rings-lothlorien-queenstown.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/puentelothlorien.jpeg">
                            <img src="../assets/img/Lothlorien/puentelothlorien.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/restaurant.jpg">
                            <img src="../assets/img/Lothlorien/restaurant.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Lothlorien/Lorien.jpg">
                            <img src="../assets/img/Lothlorien/Lorien.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>Minas Tirith</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minas-tirith-xlarge.jpg">
                            <img src="../assets/img/MinasTirith/minas-tirith-xlarge.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minastirith.jpg">
                            <img src="../assets/img/MinasTirith/minastirith.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minastirith2.jpg">
                            <img src="../assets/img/MinasTirith/minastirith2.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minastirith3.jpg">
                            <img src="../assets/img/MinasTirith/minastirith3.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minastirith4.jpg">
                            <img src="../assets/img/MinasTirith/minastirith4.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/MinasTirith/minastirith5.jpg">
                            <img src="../assets/img/MinasTirith/minastirith5.jpg">
                        </a>
                    </div>  
                </div>
            </div>
        </div>
        <br><br><br>
        
        <div class="container gallery-container">
        
            <h4>Mordor</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/la-torre.jpg">
                            <img src="../assets/img/Mordor/la-torre.jpg">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/Mordor.jpg">
                            <img src="../assets/img/Mordor/Mordor.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/Mordor2.jpg">
                            <img src="../assets/img/Mordor/Mordor2.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/Mordormonte.jpg">
                            <img src="../assets/img/Mordor/Mordormonte.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/mordormontedeldestino.jpg">
                            <img src="../assets/img/Mordor/mordormontedeldestino.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Mordor/ojosauronmontedeldestino.jpg">
                            <img src="../assets/img/Mordor/ojosauronmontedeldestino.jpg">
                        </a>
                    </div>
                </div>
        
            </div>
        
        </div>
        <br><br><br>
        <div class="container gallery-container">
        
            <h4>Moria</h4>
        
            <p class="page-description text-center">Tierra Media</p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Moria/Tierra-Media-color-de-Juan-M.-VillaSD-copia.jpg">
                            <img src="../assets/img/Moria/Tierra-Media-color-de-Juan-M.-VillaSD-copia.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Moria/moriagate.jpg">
                            <img src="../assets/img/Moria/moriagate.jpg">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="../assets/img/Moria/DBttukAXUAETpLV.jpg">
                            <img src="../assets/img/Moria/DBttukAXUAETpLV.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.tz-gallery');
        </script>
    </main>
    <footer>
        <div class="contenedor">
            <img src="../assets/img/tolkien-plano.jpg" alt="logo">
            <div class="enlaces-footer">
                <a href=""><i class="fas fa-wifi"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>       
            <p><i class="far fa-copyright"></i> 2021 - Todos los derechos reservados</p>       
        </div>
    </footer>
</body>

</html>