<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Atracciones y promociones</title>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-print-2.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/sb-1.3.0/sp-1.4.0/sl-1.3.3/datatables.min.css" />

<link rel="stylesheet" href="../assets/stylesheets/dataTables.css">

<link rel="stylesheet" href="../assets/stylesheets/styles.css">

<script defer type="text/javascript"
	src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-print-2.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/sb-1.3.0/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>

<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		$('.dataTable').DataTable({
			"order" : [ [ 2, "asc" ], [ 5, "desc" ] ]
		});
	});
</script>



</head>
<body>
	<header>
		<div class="contenedor">
			<p>
				<a href="../index.jsp"> <img src="../assets/img/tolkien-plano.jpg"
					alt="logo"></a>
			</p>
			<div class="enlaces-contenedor">
				<a href="index.jsp">Inicio</a> <a href="">Comunidad</a> <a href="">Acerca
					de</a> <a href="">Soporte</a>
			</div>
			<a href="inicioSesion.html">Iniciar sesión</a>
		</div>
		<!-- 
        <a href="https://google.com.ar/">Ir a google</a>
		<a href="#principal">Ir a principal</a>
		<a href="Turismo2.html">Ir a Turismo 2</a>
         -->
	</header>

<!-- A LOS TD LE PODEMOS PONER LA CLASE dt-control , cambia mucho la interface de esos td y les da un botón +
dt-hasChild pone el signo - en vez del +   -->

	<main class="mainSugeribles">
		<div class="background-seccionUno">
			
			<table class="dataTable table-promocion" style="width: 70%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Costo</th>
						<th>Duración</th>
						<th>Cupo</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Moria</td>
						<td>10</td>
						<td>2</td>
						<td>6</td>
						<td>AVENTURA</td>
						<td><a href="#modal1"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>MinasTirith</td>
						<td>5</td>
						<td>2.5</td>
						<td>25</td>
						<td>PAISAJE</td>
						<td><a href="#modal2"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>LaComarca</td>
						<td>3</td>
						<td>6.5</td>
						<td>150</td>
						<td>DEGUSTACIÓN</td>
						<td><a href="#modal3"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>Mordor</td>
						<td>25</td>
						<td>3</td>
						<td>4</td>
						<td>AVENTURA</td>
						<td><a href="#modal4"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>5</td>
						<td>AbismoDeHelm</td>
						<td>5</td>
						<td>2</td>
						<td>15</td>
						<td>PAISAJE</td>
						<td><a href="#modal5"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>6</td>
						<td>Lothlorien</td>
						<td>35</td>
						<td>1</td>
						<td>30</td>
						<td>DEGUSTACIÓN</td>
						<td><a href="#modal6"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>7</td>
						<td>Erebor</td>
						<td>12</td>
						<td>3</td>
						<td>32</td>
						<td>PAISAJE</td>
						<td><a href="#modal7"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>BosqueNegro</td>
						<td>3</td>
						<td>4</td>
						<td>12</td>
						<td>AVENTURA</td>
						<td><a href="#modal8"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
				</tbody>

			</table>

			<br>

			<table class="dataTable table-promocion" style="width: 70%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tipo</th>
						<th>Nombre</th>
						<th>Costo</th>
						<th>Atracción incluída 1</th>
						<th>Atracción incluída 2</th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>ABSOLUTA</td>
						<td>PromoAventura</td>
						<td>11</td>
						<td>Moria</td>
						<td>BosqueNegro</td>
						<td class="open-promo"><a href="#modal9"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>PORCENTUAL</td>
						<td>PromoDegustacion</td>
						<td>10</td>
						<td>LaComarca</td>
						<td>LothLorien</td>
						<td class="open-promo"><a href="#modal10"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>AXB</td>
						<td>PromoDegustacion</td>
						<td></td>
						<td>AbismoDeHelm</td>
						<td>Erebor</td>
						<td class="open-promo"><a href="#modal11"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>ABSOLUTA</td>
						<td>PromoAventura2</td>
						<td>15</td>
						<td>Mordor</td>
						<td>BosqueNegro</td>
						<td class="open-promo"><a href="#modal12"><i class="fas fa-angle-double-right"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--POPUP-->
		<!--<a href="#modal" class="btn-open-popup">Ver más</a>-->
		<div class="container-all" id="modal1">
			<div class="popup">
				<div class="img uno"></div>
				<div class="container-text">
					<h2>Moria</h2>
					<p>Fue fundada por Durin I el Inmortal en los albores de la Primera Edad en las cuevas que daban a Azanulbizar. Se encontraban en el centro de las montañas Nubladas, bajo los picos Caradhras, monte Nuboso y Cuerno de Plata.</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal2">
			<div class="popup">
				<div class="img dos"></div>
				<div class="container-text">
					<h2>Minas Tirith</h2>
					<p>En la Tercera Edad, se llamó Minas Tirith a la ciudad capital del reino de Gondor. Originalmente se le conoció como Minas Anor (Torre del Sol, en sindarin), adoptando el nuevo nombre tras el cambio de capital, tras la decadencia de la antigua capital Osgiliath</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal3">
			<div class="popup">
				<div class="img tres"></div>
				<div class="container-text">
					<h2>La Comarca</h2>
					<p>La Comarca (The Shire en inglés) es el nombre que recibe la región de la Tierra Media en la que viven los Hobbits, una raza emparentada con los Hombres que se asentó en esta zona a mediados de la Tercera Edad</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal4">
			<div class="popup">
				<div class="img cuatro"></div>
				<div class="container-text">
					<h2>Mordor</h2>
					<p>En esta región principalmente volcánica, situada al este de Gondor, Sauron forjó el Anillo Único en las fraguas del Monte del Destino, hacia el año 1600 SE, con el objetivo de dominar por completo a los pueblos de la Tierra Media. Miles de años después, Mordor se convirtió en el escenario de las últimas aventuras de los miembros de la Comunidad del Anillo en su afán por destruir el Anillo Único, durante la Guerra del Anillo.3​</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal5">
			<div class="popup">
				<div class="img cinco"></div>
				<div class="container-text">
					<h2>Abismo de Helm</h2>
					<p>La Batalla del Abismo de Helm es una batalla pertenciente a la Guerra del Anillo en la que se enfrentaron las fuerzas de Rohan y las de Isengard. Participaron también varios miembros de la Comunidad del Anillo y los ucornos.</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal6">
			<div class="popup">
				<div class="img seis"></div>
				<div class="container-text">
					<h2>Lothlorien</h2>
					<p>En el universo imaginario de J. R. R. Tolkien y en la novela El Señor de los Anillos, Lothlórien es un reino élfico de la Tierra Media, ubicado al este de las Montañas Nubladas y más allá de las puertas de Moria. En Aman existen unos jardines llamados Lórien, destinados al reposo y la curación de las almas.</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal7">
			<div class="popup">
				<div class="img siete"></div>
				<div class="container-text">
					<h2>Erebor</h2>
					<p>Erebor, también llamada la Montaña Solitaria, es un lugar ficticio perteneciente al legendarium del escritor J. R. R. Tolkien y que aparece en su novela El hobbit. Se trata de una elevación aislada situada al noreste de Rhovanion, que fue arrebatada por un dragón, llamado Smaug, al rey Thrór de los enanos.</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal8">
			<div class="popup">
				<div class="img ocho"></div>
				<div class="container-text">
					<h2>Bosque Negro</h2>
					<p>El Bosque Negro (Mirkwood en inglés), también llamado Taur-nu-Fuin o Taur-e-Ndadelos, fue un enorme bosque situado en Rhovanion, al nordeste de la Tierra Media. Conocido anteriormente como el Gran Bosque Verde, desde la construcción de la fortaleza de Dol Guldur por parte de Sauron, una gran sombra se cernió sobre el bosque, pasando a llamarse Bosque Negro.</p>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal9">
			<div class="popup-promo">
				<div class="img nueve"></div>
				<div class="container-text">
					<h2>Promo Aventura</h2>
					<span>Atraccion 1: </span>
					<span>Atraccion 2: </span>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal10">
			<div class="popup-promo">
				<div class="img once"></div>
				<div class="container-text">
					<h2>Promo Desgustación</h2>
					<span>Atraccion 1: </span>
					<span>Atraccion 2: </span>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal11">
			<div class="popup-promo">
				<div class="img once"></div>
				<div class="container-text">
					<h2>Promo Desgustación</h2>
					<span>Atraccion 1: </span>
					<span>Atraccion 2: </span>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<div class="container-all" id="modal12">
			<div class="popup-promo">
				<div class="img doce"></div>
				<div class="container-text">
					<h2>Promo Aventura 2</h2>
					<span>Atraccion 1: </span>
					<span>Atraccion 2: </span>
					<span><i class="fas fa-hourglass-start"></i> Tiempo:</span>
					<span><i class="fas fa-users"></i> Cupo:</span>
					<span><i class="fas fa-dollar-sign"></i> Precio:</span>
				</div>
				<a href="#" class="btn-close-popup">X</a>
			</div>
		</div>
		<!--CIERRE POPUP-->
	</main>
	<footer>
		<div class="contenedor">
			<img src="../assets/img/tolkien-plano.jpg" alt="logo">
			<div class="enlaces-footer">
				<a href=""><i class="fas fa-wifi"></i></a> <a href=""><i
					class="fab fa-twitter"></i></a> <a href=""><i
					class="fab fa-instagram"></i></a> <a href=""><i
					class="fab fa-facebook"></i></a> <a href=""><i
					class="fab fa-linkedin"></i></a>
			</div>
			<p>
				<i class="far fa-copyright"></i> 2021 - Todos los derechos
				reservados
			</p>
		</div>
	</footer>
</body>
</html>